syntax: glob
bin/
lib/
db/
dbd/
O.Common/
O.linux-x86_64/
records.dbl
envPaths
*.swp
info_settings.*
info_positions.*
*.dat
*.bin

germDaemonApp/src/chandisable.c
germDaemonApp/src/chanenable.c
germDaemonApp/src/enablealloff.c
germDaemonApp/src/enableallon.c
germDaemonApp/src/germ_getudpevents.c
germDaemonApp/src/germ_getudpevents_spectra_padded.384.c
germDaemonApp/src/germ_getudpevents_spectra_padded.c
germDaemonApp/src/germ_getudpevents_spectra_padded_varnelm.c
germDaemonApp/src/gige.h
germDaemonApp/src/gige_test.h
germDaemonApp/src/split.c
germDaemonApp/src/test
germDaemonApp/src/test.c
germDaemonApp/src/testalloff.c
germDaemonApp/src/testallon.c
germDaemonApp/src/testdisable.c
germDaemonApp/src/testenable.c
germ_agent.tar.gz
